<ion-header>
  <ion-toolbar color="navy">
    <ion-searchbar placeholder="Search location" [(ngModel)]="autocomplete.query" autocomplete="on" [showCancelButton]="true" #searchbar (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <div text-center *ngIf="autocomplete.query.length > 0 && autocompleteItems.length == 0" style="margin-top:30%;"><ion-spinner></ion-spinner></div>
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
</ion-content>
