<!--
  Generated template for the Proyek1baruPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div *ngIf="items;else null" >
  <ion-card *ngFor="let item of items">
  <ion-card-content *ngIf = "item.status_id == 1">
     <div>{{item.order.subject}}</div>
      <div> Dibuat  : {{item.order.created_at | date: "dd-MM-yyyy HH:mm a"}}  </div>
      <div *ngIf="item.order.projecttype == 1">Pemetaan Tanaman</div>
      <div *ngIf="item.order.projecttype == 2">Liburan</div>
      <div *ngIf="item.order.projecttype == 3">Lalu-lintas</div>
      <div *ngIf="item.order.projecttype == 4">Konstruksi Bangunan</div>
      <div *ngIf="item.order.projecttype == 5">Pengawasan</div>
      <div>Tanggal : {{item.order.dtprojectstart | date: "dd MMM yyyy" }} - {{item.order.dtprojectend | date: "dd MMM yyyy" }}</div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button outline small block>Status</button>
          </ion-col>
          <ion-col>
            <!--<input type="text" value="{{item.id_order}}" id="idorder">-->
              <!--<ion-input [(ngModel)]="firstname" type="text" value="{{firstname.value}}"></ion-input>-->
              <!--<ion-input [(ngModel)]="proyekData" type="text" value="{{item.projecttype}}"></ion-input>-->
              <!--<ion-input [(ngModel)]="proyekData" type="text" value="{{item.projecttype}}"></ion-input>-->
              <!--<ion-input [(ngModel)]="proyekData" type="text"></ion-input>-->

              <!--<input type="text" value="{{item.id_order}}" id="id_order" #id_order>-->
            <button ion-button outline small block color="danger" (click)="polygon()" >Lihat</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
    <ng-template #null>
        
      </ng-template>
    </div>
</ion-content>
