page-welcome {
  #welcome{
      //background: color($colors, light);
      h1{
          font-size: 52px;
          margin-top:50px
      }
      .marginTop{
          margin-top:150px;
      }
      .margin{
        margin:20px 0;
      }
      .logo{
          height: 100px;
      }
  }
}
